{% extends "base.html.twig" %}

{% block title %}Liste des domaines d'activités{% endblock %}

{% block body %}
    <h1> Liste des domaines d'activites</h1>
    {% for unDomaineActivite in domainesActivites  %}
        <p><a href="{{ path('editDomaineActivite',{'id':unDomaineActivite.codedomaine}) }}"> {{ unDomaineActivite.nomdomaine }}</a> </p>
    {% endfor %}
{% endblock %}