<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des domaines d'activités</title>
</head>
<body>
<h1> Liste des domaines d'activites</h1>

{% for unDomaineActivite in domainesActivites  %}
  <p><a href="{{ path('editDomaineActivite',{'id':unDomaineActivite.codedomaine}) }}"> {{ unDomaineActivite.nomdomaine }}</a> </p>
{% endfor %}
</body>
</html>